include mcl_toolbox/data/exp_pipelines.pkl
include mcl_toolbox/data/strategy_space.pkl
include mcl_toolbox/data/microscope_weights.pkl
include mcl_toolbox/data/L2_distances.pkl
include mcl_toolbox/data/microscope_features.pkl
include mcl_toolbox/data/implemented_features.pkl

include mcl_toolbox/models/rl_models.csv

include mcl_toolbox/mcrl_modelling/param_search_space.json
include mcl_toolbox/mcrl_modelling/model_params.json

include mcl_toolbox/data/normalized_values/high_increasing/*.pkl

