include data/exp_pipelines.pkl
include data/strategy_space.pkl
include data/microscope_weights.pkl
include data/L2_distances.pkl
include data/microscope_features.pkl
include data/implemented_features.pkl