annotated-types==0.5.0
appnope==0.1.3
asttokens==2.4.0
async-timeout==4.0.3
backcall==0.2.0
cffi==1.15.1
click==8.1.7
cloudpickle==2.2.1
contexttimer==0.3.3
contourpy==1.1.0
cycler==0.11.0
Cython==3.0.2
dask==2023.9.1
decorator==5.1.1
dill==0.3.7
distributed==2023.9.1
exceptiongroup==1.1.3
executing==1.2.0
filelock==3.12.3
fonttools==4.42.1
fsspec==2023.9.0
future==0.18.3
gitdb==4.0.10
GitPython==3.1.34
GPy==1.10.0
GPyOpt==1.2.6
graphviz==0.20.1
greenlet==2.0.2
gym==0.26.2
gym-notices==0.0.8
hyperopt==0.2.7
imageio==2.31.3
importlib-metadata==6.8.0
ipython==8.15.0
jabbar==0.0.16
jedi==0.19.0
Jinja2==3.1.2
joblib==1.3.2
keras==2.13.1
kiwisolver==1.4.5
locket==1.0.0
MarkupSafe==2.1.3
matplotlib==3.7.2
matplotlib-inline==0.1.6
mcl-toolbox @ file:///Users/rhe/PycharmProjects/mcl_toolbox
more-itertools==10.1.0
mouselab @ git+https://github.com/RationalityEnhancementGroup/mouselab-mdp-tools.git@cd831c2cf8de0dbd2902b174866c40dad8845b60
mpmath==1.3.0
msgpack==1.0.5
networkx==3.1
numpy==1.25.2
opt-einsum==3.3.0
packaging==23.1
pandas==2.1.0
parameterized==0.9.0
paramz==0.9.5
parso==0.8.3
partd==1.4.0
patsy==0.5.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.0
prompt-toolkit==3.0.39
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
py4j==0.10.9.7
pyabc==0.12.12
pycparser==2.21
pydantic==2.3.0
pydantic_core==2.6.3
Pygments==2.16.1
pymannkendall==1.4.3
pyparsing==3.0.9
pyro-api==0.1.2
pyro-ppl==1.8.6
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
redis==5.0.0
rpy2==3.5.14
scikit-learn==1.3.0
scipy==1.11.2
seaborn==0.12.2
six==1.16.0
smmap==5.0.0
sortedcontainers==2.4.0
SQLAlchemy==2.0.20
stack-data==0.6.2
statsmodels==0.14.0
sympy==1.12
tblib==2.0.0
threadpoolctl==3.2.0
toolz==0.12.0
torch==2.0.1
tornado==6.3.3
tqdm==4.66.1
traitlets==5.9.0
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==5.0.1
urllib3==2.0.4
wcwidth==0.2.6
zict==3.0.0
zipp==3.16.2
